<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <script src="/static/htmx.min.js"></script>
    <script src="/static/response-targets.js"></script>

    <script src="/static/tailwind-3-4-1.js"></script>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/selectize.min.js"></script>
    <link rel="stylesheet" href="/static/selectize.bootstrap3.min.css" />
</head>
<body class="m-3 bg-slate-100 text-2xl" hx-ext="response-targets">
    <div id="status"></div>
    <div class="min-h-[93vh]">
        {% block body %}
        {% endblock body %}
    </div>
    <footer class="text-center text-sm">
        <hr>
        {% block footer %}
        {% endblock footer %}
        <div hx-get="/session_controls" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></div>
    </footer>
</body>
</html>
