{% extends 'base.html' %}

{% block body %}

<script>
$(document).ready(() => {
  $('select').selectize({
    sortField: 'text'
  });
});

function updateSpeed(element) {
    document.getElementById("walk_speed_number").innerHTML = `${element.value * 2.5} km/h`
}

function getUrgeString(urge) {
    switch(Number.parseInt(urge)) {
        case 1: return "Nespecham"
        case 2: return "Mirne specham"
        case 3: return "Stredne specham"
        case 4: return "Dost specham"
        case 5: return "Kurva hodne specham;<br>najdi mi brutalni spojeni!!!"
    }
}

function updateUrge(element) {
    document.getElementById("urge_text").innerHTML = getUrgeString(element.value)
}

</script>

<aside class="float-right" hx-get="/last_searches" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
</aside>


<div class="flex flex-col items-center gap-y-8">
    <form hx-post="/search" hx-target="#results" hx-target-500="#status" class="flex flex-col gap-2 min-w-20 hover:shadow-lg hover:bg-white hover:border-0 border-4 p-4 min-h-[45vh]">
        {% csrf_token %}
        <div class="flex flex-row gap-2">
            <div class="flex flex-col gap-2 w-1/2 text-center">
                <label for="from">Vychozi stanice</label>
                <select id="from" name="from" class="text-2xl" hx-get="/stations" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                </select>
            </div>
            <div class="flex flex-col gap-2 w-1/2 text-center">
                <label for="to">Konecna stanice</label>
                <select id="to" name="to" class="text-2xl" hx-get="/stations" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                </select>
            </div>
        </div>
        <hr>
        <div class="flex flex-row gap-2">
            <div class="flex flex-col gap-2 text-center items-center">
                <label for="urge">Uroven spechu</label>
                <input type="range" class="w-1/2" min="1" max="5" value="3" id="urge" name="urge" onchange="updateUrge(this)">
                <i class="text-lg" id="urge_text">Mirne specham</i>
            </div>
            <div class="flex flex-col gap-2 text-center items-center">
                <label for="walk_speed">Rychlost chuze</label>
                <input type="range" class="w-1/2" min="1" max="5" value="3" id="walk_speed" name="walk_speed" onchange="updateSpeed(this)">
                <i class="text-lg" id="walk_speed_number">7.5 km/h</i>
            </div>
        </div>
        <hr>
        <button type="submit" class="border-2 bg-white hover:bg-blue-300 active:bg-violet-600">Hledat</button>
    </form>
    <div id="results"></div>
</div>

{% endblock %}

{% block footer %}
    Algoritmus by <a class="text-blue-600 hover:underline" href="https://github.com/X3nom">Kuba</a>
{% endblock footer %}
