{% extends 'base.html' %}

{% block body %}

<script defer>
setTimeout(() => {
  $('select').selectize({
    sortField: 'text'
  });
}, 250)

function getUrgeString(urge) {
    switch(Number.parseInt(urge)) {
        case 0: return "Nech me spat"
        case 1: return "Fakt nespecham, take your time"
        case 2: return "Mirne specham"
        case 3: return "Chci se vejit do 5min pozdniho prichodu"
        case 4: return "\"Kurva ridici slapni na to uz konecne a neser!!!\""
        case 5: return "<b>Kurva hodne specham;<br>najdi mi brutalni spojeni!!!<br>Budu treba litat kdyz to bude potreba!!!</b>"
    }
}

function updateUrge(element) {
    console.log(element)
    document.getElementById("urge_text").innerHTML = getUrgeString(element.value)
}

function updateSpeed(element) {
    console.log(element)
    document.getElementById("walk_speed_number").innerHTML = `${element.value} km/h`
}

function toggleDisplay(elemId) {
	let style = document.getElementById('recent').style;
	if (!style.display || style.display === 'none') style.display = 'block';
	else style.display = 'none';
}


updateSpeed(document.getElementById('walk_speed'))
updateUrge(document.getElementById('urge'))

</script>

<button type="button" onclick="toggleDisplay('recent')">Zobrazit posledni hledani</button>

<aside id="recent" class="md:float-right hidden" hx-get="/last_searches" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
</aside>

<div class="flex flex-col items-center gap-y-8">
    <form hx-post="/search" hx-target="#results" hx-target-500="#status" class="flex flex-col sm:gap-2 min-w-[60vw] hover:shadow-lg hover:bg-white sm:p-2 min-h-[45vh]">
        {% csrf_token %}
        <div class="flex flex-row sm:gap-2">
            <div class="flex flex-col sm:gap-2 w-1/2 text-center">
                <label for="from">Zacatek</label>
                <select id="from" name="from" class="text-2xl" hx-get="/stations" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                </select>
            </div>
            <div class="flex flex-col sm:gap-2 w-1/2 text-center">
                <label for="to">Konec</label>
                <select id="to" name="to" class="text-2xl" hx-get="/stations" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                </select>
            </div>
        </div>
        <hr>
        <div class="flex flex-row sm:gap-2 justify-evenly">
            <div class="flex flex-col sm:gap-2 text-center items-center w-1/3">
                <label for="urge">Spech</label>
                <input type="range" class="w-1/2" min="0" max="5" id="urge" name="urge" onchange="updateUrge(this)">
                <i class="text-lg" id="urge_text"></i>
            </div>
            <div class="flex flex-col sm:gap-2 text-center items-center w-1/3">
                <label for="walk_speed">Rychlost chuze</label>
                <input type="range" class="w-1/2" min="1" max="16.1" step="2.5" id="walk_speed" name="walk_speed" onchange="updateSpeed(this)">
                <i class="text-lg" id="walk_speed_number"></i>
            </div>
            <div class="flex flex-col sm:gap-2 text-center items-center w-1/3">
                <label for="car">Ja mam auto a ty ne</label>
                <input type="checkbox" class="w-1/2" id="car" name="car">
            </div>
        </div>
        <hr>
        <button type="submit" class="border-2 bg-white hover:bg-blue-300 active:bg-violet-600">Hledat</button>
    </form>
    <div id="results"></div>
</div>

{% endblock %}

{% block footer %}
    Algoritmus by <a class="text-blue-600 hover:underline" href="https://github.com/X3nom">Kuba</a>
{% endblock footer %}
